<!doctype html>
<html>
<!-- External Javascript for Parallax Star background-->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<!----css custom file link-->
<link rel="stylesheet" href="style.css">
<!---Fontawesome CDN link----->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<title>{% block title %}{% endblock %} - DogFR</title>
<!-- nav bar -->

<nav class="navbar">
  <!-- <b>Navigation:</b> -->
  <ul class="baseul">
    <li><h1 id = "main_title">DogFR</h1></li>
    <li><a href="{{ url_for('intro') }}">Introduction</a></li>
    <li><a href="{{ url_for('index') }}">Upload</a></li>
    <li><a href="{{ url_for('drag_upload') }}">Drag Upload</a></li>
    <li><a href="{{ url_for('get_gallery') }}">Click Gallery Upload</a></li>
    <li><a href="{{ url_for('doginfo') }}">DogTime Information</a></li>
    <li><a href="{{ url_for('findyourdog')}}">Find Your Best Dog</a></li>
  </ul>
</nav>

<!-- I combined two moving background which I dinf online -->
<!-- SHOOTING STAR background by Alphardex --> <!-- https://freefrontend.com/css-animated-backgrounds/ -->
<div class="movingstars">
  <div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div>
  <div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div>
</div>
<!-- End SHOOTING STAR background-->

<!-- Parallax Star background -->
<!-- I find an example of using Parallax Star background, Created by Saransh Sinha-->
<!-- https://www.sliderrevolution.com/resources/css-animated-background/-->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'></div>
<!-- End Parallax Star background in CSS-->

<!-- End combine two moving background -->


  <header>
    {% block header %}{% endblock %}
  </header>
  <body>
  {% block content %}{% endblock %}


</html>