{% extends 'base.html' %}

{% block header %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/glassstyle.css') }}">
  <h3 class="gallery_title">{% block title %}User Uploaded Images{% endblock %}</h3>
</head>
{% endblock %}


{% block content %}

  <form  action="{{ url_for('get_gallery')}}" method="post">
    <div class="containerall">
    {% for image_link in uploads_path %}
    <!-- Glassmorphism -->
    <!-- I find some cool Real Glassmorphism Card Hover Effects at Youtube -->
    <!-- https://www.youtube.com/watch?v=hv0rNxr1XXk -->
    <div class="container">
      <div class="card">
        <div class="content">
          <h2>{{image_link[0]}}</h2>
          <p>{{image_link[1]}}</p>
          <button type="submit" name="submitbutton" value = "{{image_link[1]}}">
          <img src="{{ url_for('display_image', filename=image_link[1]) }}" alt="{{image_link[1]}}" height="280" width="265" >
        </div>
      </div>
      </div>
    <!-- End Glassmorphism -->
    {% endfor %}
    </form>


  <!-- for Glassmorphism --> <!-- https://micku7zu.github.io/vanilla-tilt.js/-->
  <!-- at the end of the body -->
  <script type="text/javascript" src="/static/vanilla-tilt.js"></script>
  <script>
    VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 1,
    })
  </script>

{% endblock %}
