{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Dog Information{% endblock %}</h3>
  <b>The following data are scraped from <a href ='https://dogtime.com/dog-breeds/profiles'> <b>DogTime</b></a> </b>
{% endblock %}

{% block content %}


<form  action="{{ url_for('doginfo')}}" method="post">
    
  <label for="pick">Choose Dog Breed:</label>
  <select name="dogs" id="dogs">
    {% for dog in dog_breed_all %}
    <option value='{{dog}}'>{{ dog }}</option>
    {% endfor %}

  </select>
 
</div>
<button type="submit" class="btn">Go</button>
</div>

</form>

{% if select %}
 <body>
  <br>
  <br>
  <h1>You selected {{select}}</h1>
  <img style ="border-radius: 50px;" src='{{dogurl}}' alt="Image of {{select}}" width="300" height="300">
  <br>
  <br>
  <div id='chart' class='chart'”></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</body>
{% endif %}

  
{% endblock %}

