{% extends 'base.html' %}

{% block header %}
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/findyourdogstyle.css') }}">
<h3>{% block title %}{% endblock %}</h3>
</head>
{% endblock %}

{% block content %}
<body>
<div class="split left">  <!-- Left side of screen-->
    <h4 style ="font-family: Audiowide, sans-serif; font-size: 50x;">We suggest picking 2-4 of the characteristics</h4> 
    <p style ="font-family: Audiowide, sans-serif; font-size: 15px;">0 means >=0, any specific number # means == #</p>
    <br>
    <form action='/findyourdog' method="post">
        <!-- make 26 characteristics slider -->
        {% for key, value in dogmap.items() %}
        <div class="slidecontainer">
            <h6 style ="font-family: Audiowide, sans-serif; font-size: 15px;">{{value}}:</h6>
            <input type="range" min="0" max="5" value ="0" class="slider" id="characteristic_slider" name="characteristic_slider" >
            <label for ="characteristic_slider" > <span class="limit"></span></label>
            <br>
            <br>
        </div>
         {% endfor %}

        <!-- https://stackoverflow.com/questions/47006027/display-values-of-multiple-input-type-range-in-one-page -->
        <script>
            function updateLabel() {
            var limit = this.parentElement.getElementsByClassName("limit")[0];
            limit.innerHTML = this.value;
            }
            var slideContainers = document.getElementsByClassName("slidecontainer");

            for (var i = 0; i < slideContainers.length; i++) {
            var slider = slideContainers[i].getElementsByClassName("slider")[0];
            updateLabel.call(slider);
            slider.oninput = updateLabel; }
        </script>

        <button type="submit"> Submit </button>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
    </form>
  </div>

<div class="split right"> <!-- Right side of screen-->
    <h6>Matching Result</h6>

      <!-- check if find ant dog recommendations-->
        {% if find_any %}

        <!-- loop to print 26 characteristics with user selected values-->
        <div class="selected26characteristics">
          {% for char, num in selected_26_characteristics.items() %}
          <p>{{char}} &nbsp {{num[0:-1]}} &nbsp {{num[-1]}}</p>
          {% endfor %}
        </div>

        <!-- loop over each dog name in recommendations list-->
        {% for dog in dog_recommendations %}
        <br>
        <p style ="font-family: Audiowide, sans-serif; font-size: 20px;"><strong>{{dog[0]}}</strong></p>
        <div class="glassBox">
          <div class="glassBox__imgBox">
            <img style ="border-radius: 50px;" src='{{dog[1][0]}}'  width="150" height="100"> 
            <h3 class="glassBox__title">DogTime Link:</h3>
          </div>
          <div class="glassBox__content"> <a href ={{dog[1][1]}}>{{dog[0]}}</a></div>
          </div>
        <br><br>
        {% endfor %}
        <!-- end loop over each dog name in recommendations list-->
        {% else %}
        <p> No matching dog.</p>
        {% endif %}
        <!-- end check if find ant dog recommendations-->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
{% endblock %}

