{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Upload an Image{% endblock %}</h3>
{% endblock %}

{% block content %}
    <div class="uploader">
        <div class="notice">
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </p>
        </div>


    <div class="form">
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Upload" class="btn btn-info">
            </p>
        </form>
    </div>

    <div class="tmp">
        <h2 id="webapp-page-design-based-on-flask-framework-and-blog-web-development">Human Facial Detector</h2>
        <ol>
        <li>Use 'OpenCV' and 'imutils' to process and analyze the image to detect any human faces.</li>
        <li>Highlight the detected human faces if possible.</li>
        <li>Save at the server side.</li>
        </ol>
    </div>


{% endblock %}
