{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Upload an Image{% endblock %}</h3>
{% endblock %}

{% block content %}
<body style="position: fixed;">
<img class ="five_dog_img" src="/static/dog.jpeg" alt="Dog for background" width=50% height="50%">
<br>
<br>
        
    <div class="uploader">
        <div class="notice">
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </p>
        </div>

    <div class="form">
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Upload" class="upload_btn">
            </p>
        </form>
    </div>
</body>
{% endblock %}
