{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Upload an Image{% endblock %}</h3>
{% endblock %}

{% block content %}
    <div class="uploader">
        <div class="notice">
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </p>
        </div>


    <div class="form">
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Upload" class="btn btn-info">
            </p>
        </form>
    </div>

    <div class="tmp">
        <ol>
        <li>Homepage: allow users to upload an image to the server; an alert will be given if the uploaded file is not an image.</li>
        <li>If an image has been uploaded successfully, it will be saved at the server for further analysis. Currently, it is stored at &#39;../static/uploads/&#39; folder on the server-side.</li>
        <li>Touch up by using Bootstrap(CSS) and the website now is reader-friendly(responsive enabled)</li>
        </ol>
    </div>


{% endblock %}
