{% extends 'base.html' %}

{% block header %}
<div class="intro_head">
  <h2>Reasons to choose DogFR</h2>
</div>
{% endblock %}

{% block content %}



  
<div class="intro">
  <br>
  <div class="why1">
    <img src="/static/why1.jpeg">
    <h4>Identify dog breed from images</h4>
    <p>
      With DogFR, you can submit and drag images to identify dog breeds.
    </p>
  </div>

  <br>
  <br>

  <div class="why2">
    <img src="/static/why2.jpeg">
    <h4>Know differences among dog breeds</h4>
    <p>
      No clue what's the difference among dog breeds? DogFR gives you an 
      overview of their characteristics and their images.
    </p>
  </div>
    
  <br>
  <br>

  <div class="why3">
    <img src="/static/why3.jpeg">
    <h4>Find dog breeds for you</h4>
    <p>
      If you want to get a dog but are not sure which dog breed is right for you, then DogFR 
      may help you find the best dog breed based on your needs.
    </p>
  </div>
</div>

<br>
<br>

<div class="char">
  <p>Here give explanation on characteristics</p>
</div>
{% endblock %}

