h3{
  color: white;
}
/* 
Glassmorphism CSS
I find some cool Real Glassmorphism Card Hover Effects at Youtube
https://www.youtube.com/watch?v=hv0rNxr1XXk 
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.container{
  position: relative;
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container .card{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgb(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content{
  padding: 10px;
  text-align: center;
  transform: translateY(50px);
  opacity: 55%;
  transition: 0.5s;
}

.container .card:hover .content{
  transform: translateY(0px);
  opacity: 100%;
}

.container .card .content h2{
  position: fixed;
  top: -110px;
  right: 20px;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.container .card .content p{
  font-size: 0.8em;
  color: #fff;
  font-weight: 400;

}
