html {
  font-family: sans-serif;
  background: rgb(240, 202, 186);
}

body {
  text-align: center;
  margin: 0 auto;
  background:lightblue;
}

h3 {
  color: rgb(250, 250, 250);
  font-family: sans-serif;
  margin: 1rem 0;
  text-align: center;
}

#tbl {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tbl td,
#tbl th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tbl tr:nth-child(odd) {
  background-color: #cecbcb;
}
#tbl tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tbl tr:hover {
  background-color: #ddd;
}

#tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

form {
  display: inline-block;
}

ul {
  list-style: none;
}

div.doc {
  text-align: left;
  background-color: #ffffff;
  padding: 20px;
}


.mytable {
  margin-left: auto;
  margin-right: auto;
}

.table {
  border-spacing: 0;
  background-color: whitesmoke;
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

.table_row:nth-child(even){
  background-color: #e5e5e5;
}

.table_header{
    text-align:center;
    color: rgb(202, 51, 51);
}

.table_element{
    padding: 8px;
}

#hiding_results {
  display: none;
  width: 100%;

  text-align: center;
  background-color: rgb(224, 211, 193);

}

.why1 img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.why2 img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.why3 img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}